<div class="page-bg">
    <% if logged_in? %>
        <div class="new-threads">
        <h2>新着スレ</h2>

        <%= will_paginate @posts, previous_label: '<', next_label: '>', inner_window: 1 %>
        <div class="container">
            <div class="main">
                <div class="home-threads">
                <%= render @posts %>
                </div>
            </div>
            <aside class="sidebar">
                <%= render 'shared/sidebar'%>
            </aside>
        </div>
        <%= will_paginate @posts, previous_label: '<', next_label: '>', inner_window: 1 %>

        </div>
    <% else %>
        <div class="home-content">
        <h2>さあ、はじめよう!</h2>
        <%= link_to signup_path do %>
        <button class="signup-button">Sing up</button>
        <% end %>
        <p>アカウント(Twitter、Facebook、Google可)をお持ちの方は<%= link_to 'ログイン', login_path %>してください。</p>
        </div>
    <% end %>
</div>