
<div class="page-bg">
    <div class="form">
        <h2>ログイン</h2>

        <%= form_for(:session, url: login_path) do|f| %>

            <%= render 'sessions/alert' %>

            <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email ,class: 'form-control',autocomplete: 'off' %>
            </div>

            <div class="form-group">
            <%= f.label "パスワード" %>
            <%= f.password_field :password ,class: 'form-control',autocomplete: 'off' %>
            </div>

            <div class="check-wrapper">
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>ログイン状態を保持する</span>
            <% end %>
      </div>

            <%= f.submit 'Login', class: "submit-btn" %>
        <% end %>

        <div class="sosial-login">
            <h1>他のアカウントでログインする</h1>
            <div class="social-login-accounts">
            <%= link_to '/auth/twitter', class: "btn btn-social btn-twitter" do %>
                <span class="fa fa-twitter"></span> Twitter
            <% end %>
            <%= link_to '/auth/facebook', class: "btn btn-social btn-facebook" do %>
                <span class="fa fa-facebook"></span> Facebook
            <% end %>
            <%= link_to '/auth/google-oauth2', class: "btn btn-social btn-google" do %>
                <span class="fa fa-google"></span> Google
            <% end %>
            </div>
        </div>

    </div>
</div>