<% if !@post.replies.empty?  %>
    <% @post.replies.each_with_index do |reply,i| %>
    <div class="reply" id="reply-<%= i + 1 %>">
        <div class="reply-info"><%= i + 1 %>: 名前: <%= user_name(reply) %> 投稿日: <%= l reply.created_at %>
        ID: <span class="user_id <%= color(reply)%>"><%= user_id(reply) %></span></div>
        <div class="reply-content"><%= add_anchor_to_(reply.content) %></div>
        <% if reply.picture %>
        <div class="reply-picture"><%= image_tag reply.picture %></div>
        <% end %>
        <%= render 'replies/edit_icons', object: reply %>
    </div>
    <% end %>
<% end %>